body {
    width: 100vw;
    height: 100vh;
    /* background: #132c51; */
    background: url(http://ipla-e2-22.pluscdn.pl/p/redb/ax/axytr9pfo1ova2yexpzegcw8puh5b57x.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

}

.container {
    position: relative;
    /* background-color: #112849; */
    color: white;
    min-width: 400px;
    max-width: 30%;
    min-height: 60%;
    border-radius: 6px;
    padding: 36px;
    box-sizing: border-box;
    transition-duration: 1s;
    overflow: hidden;
    /* backdrop-filter: blur(10px); */
}

.container::before {
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}

.container:hover {
    box-shadow: 0 0 6px #ffffff, 0 0 6px #ffffff;
}

.form {
    /* po */
    text-align: left;
}

#errors {
    color: orangered;
}

label,
input,
button,
select {
    display: block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    margin: 12px 0 36px;
}

label {
    margin-bottom: 6px;
}

.type-in,
select {
    background: #ecf0f3;
    padding-left: 18px;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
}

button {
    color: white;
    text-transform: uppercase;
    background-color: #0b1b34;
    height: 36px;
    border-radius: 4px;
    margin-top: 18px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0 6px #ffffff, 0 0 6px #ffffff;
}